[submodule "xcconfig"]
	path = xcconfig
	url = https://github.com/macmade/xcconfig.git
[submodule "Submodules/xcconfig"]
	path = Submodules/xcconfig
	url = https://github.com/macmade/xcconfig.git
[submodule "Submodules/STDXS"]
	path = Submodules/STDXS
	url = https://github.com/macmade/STDXS.git
